Bài 6: Dưới đây là thông tin về 8 sinh viên mới ra trường của một khóa học:

a. Nhập dữ liệu vào một data frame (đặt tên là sinh_vien) gồm các cột TT, luong,
gioi_tinh, tot_nghiep, tuoi.

In [2]:
import pandas as pd

#### Để nhập dữ liệu trực tiếp kiểu Data Frame của pandas ta làm như sau:

In [3]:
data = {'TT':[1,2,3,4,5,6,7,8],
      'luong':[6,5,4.5,3.8,8,12,4,5],
      'gioi_tinh':['Nam','Nu','Nam','Nu','Nu','Nam','Nam','Nu'],
      'tot_nghiep':['K','K','TB','K','G','G','TB','TB'],
      'tuoi':[22,25,23,22,22,23,22,24]
      }
sinh_vien = pd.DataFrame(data)
sinh_vien

   TT  luong gioi_tinh tot_nghiep  tuoi
0   1    6.0       Nam          K    22
1   2    5.0        Nu          K    25
2   3    4.5       Nam         TB    23
3   4    3.8        Nu          K    22
4   5    8.0        Nu          G    22
5   6   12.0       Nam          G    23
6   7    4.0       Nam         TB    22
7   8    5.0        Nu         TB    24

In [ ]:
sinh_vien.shape # kích thước bảng dữ liệu

(8, 5)

In [ ]:
sinh_vien.columns # cho biết tên các cột

Index(['TT', 'luong', 'gioi_tinh', 'tot_nghiep', 'tuoi'], dtype='object')

In [ ]:
sinh_vien.head(2) # Hai dòng đầu tiên của bảng dữ liệu

   TT  luong gioi_tinh tot_nghiep  tuoi
0   1    6.0       Nam          K    22
1   2    5.0        Nu          K    25

In [ ]:
# Lấy ra cột luong
sinh_vien.luong

0     6.0
1     5.0
2     4.5
3     3.8
4     8.0
5    12.0
6     4.0
7     5.0
Name: luong, dtype: float64

In [ ]:
# Hoặc cách khác
sinh_vien['luong']

0     6.0
1     5.0
2     4.5
3     3.8
4     8.0
5    12.0
6     4.0
7     5.0
Name: luong, dtype: float64

In [ ]:
sinh_vien.loc[2] # Dòng thứ 3 của bảng dữ liệu

TT              3
luong         4.5
gioi_tinh     Nam
tot_nghiep     TB
tuoi           23
Name: 2, dtype: object

In [ ]:
sinh_vien.loc[2:5] # 4 dòng, có index là 2, 3, 4, 5, trong tập dữ liệu

   TT  luong gioi_tinh tot_nghiep  tuoi
2   3    4.5       Nam         TB    23
3   4    3.8        Nu          K    22
4   5    8.0        Nu          G    22
5   6   12.0       Nam          G    23

In [ ]:
sinh_vien.loc[:,'luong'] # cột lương của bảng dữ liệu

0     6.0
1     5.0
2     4.5
3     3.8
4     8.0
5    12.0
6     4.0
7     5.0
Name: luong, dtype: float64

In [ ]:
sinh_vien.loc[0:4,['luong','gioi_tinh']] # cột lương và giới tính của 5 người đầu tiên

   luong gioi_tinh
0    6.0       Nam
1    5.0        Nu
2    4.5       Nam
3    3.8        Nu
4    8.0        Nu

b. Đưa ra dữ liệu về những sinh viên nữ.

In [ ]:
nu = sinh_vien[sinh_vien.gioi_tinh == 'Nu']
nu

   TT  luong gioi_tinh tot_nghiep  tuoi
1   2    5.0        Nu          K    25
3   4    3.8        Nu          K    22
4   5    8.0        Nu          G    22
7   8    5.0        Nu         TB    24

c. Đưa ra dữ liệu về những sinh viên nam.

In [ ]:
nam = sinh_vien[sinh_vien.gioi_tinh == 'Nam']
nam

   TT  luong gioi_tinh tot_nghiep  tuoi
0   1    6.0       Nam          K    22
2   3    4.5       Nam         TB    23
5   6   12.0       Nam          G    23
6   7    4.0       Nam         TB    22

In [ ]:
# nam giới và có lương trên 5.5 triệu
sinh_vien[(sinh_vien.gioi_tinh=='Nam') & (sinh_vien.luong > 5.5)]

   TT  luong gioi_tinh tot_nghiep  tuoi
0   1    6.0       Nam          K    22
5   6   12.0       Nam          G    23

d. Đưa ra danh sách lương khởi điểm của nhóm sinh viên nữ.

In [ ]:
nu.luong

1    5.0
3    3.8
4    8.0
7    5.0
Name: luong, dtype: float64

e. Đưa ra danh sách tuổi của nhóm sinh viên nam.

In [ ]:
nam['tuoi']

0    22
2    23
5    23
6    22
Name: tuoi, dtype: int64

In [5]:
#Hoặc cách khác
sinh_vien.tuoi[sinh_vien.gioi_tinh=='Nam']

0    22
2    23
5    23
6    22
Name: tuoi, dtype: int64

f. Đưa ra danh sách những sinh viên có lương khởi điểm trên 6 triệu/tháng.

In [ ]:
sinh_vien[sinh_vien.luong>8]

   TT  luong gioi_tinh tot_nghiep  tuoi
5   6   12.0       Nam          G    23

g. Cho biết các thông tin về những người có lương cao nhất trong danh sách.

In [ ]:
sinh_vien[sinh_vien.luong == max(sinh_vien.luong)]

   TT  luong gioi_tinh tot_nghiep  tuoi
5   6   12.0       Nam          G    23

h. Thêm vào danh sách một sinh viên nam tốt nghiệp xếp loại giỏi, lương khởi điểm
7.5 triệu nhưng không có thông tin về tuổi.

In [ ]:
sinh_vien.loc['8']=[9,7.5,'Nam','G',None]
print(sinh_vien)

   TT  luong gioi_tinh tot_nghiep  tuoi
0   1    6.0       Nam          K    22
1   2    5.0        Nu          K    25
2   3    4.5       Nam         TB    23
3   4    3.8        Nu          K    22
4   5    8.0        Nu          G    22
5   6   12.0       Nam          G    23
6   7    4.0       Nam         TB    22
7   8    5.0        Nu         TB    24
8   9    7.5       Nam          G  None

i. Thêm vào data frame trên một cột điểm khóa luận tốt nghiệp của các sinh viên
trên theo thứ tự như sau: 8, 7.5, 7, 7, 9, 9.5, 8, 8, 9.

In [ ]:
#Thêm vào cuối cùng
Diem=[8,7.5,7,7,9,9.5,8,8,9]
sinh_vien['Diem']=Diem
print(sinh_vien)

   TT  luong gioi_tinh tot_nghiep  tuoi  Diem
0   1    6.0       Nam          K    22   8.0
1   2    5.0        Nu          K    25   7.5
2   3    4.5       Nam         TB    23   7.0
3   4    3.8        Nu          K    22   7.0
4   5    8.0        Nu          G    22   9.0
5   6   12.0       Nam          G    23   9.5
6   7    4.0       Nam         TB    22   8.0
7   8    5.0        Nu         TB    24   8.0
8   9    7.5       Nam          G  None   9.0

In [ ]:
# Thêm cột vào một vị trí bất kì
nu.insert(3,'Diem',[4,5,6,7]) # thêm cột Diem thành cột thứ 4 (index 3)
print(nu)

   TT  luong gioi_tinh  Diem tot_nghiep  tuoi
1   2    5.0        Nu     4          K    25
3   4    3.8        Nu     5          K    22
4   5    8.0        Nu     6          G    22
7   8    5.0        Nu     7         TB    24

j. Loại đi số liệu trống không trong data frame.

In [ ]:
print(sinh_vien)

   TT  luong gioi_tinh tot_nghiep  tuoi  Diem
0   1    6.0       Nam          K    22   8.0
1   2    5.0        Nu          K    25   7.5
2   3    4.5       Nam         TB    23   7.0
3   4    3.8        Nu          K    22   7.0
4   5    8.0        Nu          G    22   9.0
5   6   12.0       Nam          G    23   9.5
6   7    4.0       Nam         TB    22   8.0
7   8    5.0        Nu         TB    24   8.0
8   9    7.5       Nam          G  None   9.0

In [ ]:
sv_new=sinh_vien.dropna()
print(sv_new)

   TT  luong gioi_tinh tot_nghiep tuoi  Diem
0   1    6.0       Nam          K   22   8.0
1   2    5.0        Nu          K   25   7.5
2   3    4.5       Nam         TB   23   7.0
3   4    3.8        Nu          K   22   7.0
4   5    8.0        Nu          G   22   9.0
5   6   12.0       Nam          G   23   9.5
6   7    4.0       Nam         TB   22   8.0
7   8    5.0        Nu         TB   24   8.0

#### Để nhập dữ liệu từ các file csv, xlsx vào ta làm như sau (chú ý file xls phải save as thành file xlsx)

In [ ]:
sv=pd.read_csv('HocSinh.csv') # đối với file csv
#Chú ý: Phải copy dữ liệu vào thư mục làm việc trước

In [ ]:
sv=pd.read_excel('DieuTraDienThoai.xlsx') # đối với file xlsx
#Chú ý: Phải copy dữ liệu vào thư mục làm việc trước